:root {
	--dark: 0, 0, 0;
	--light: 255, 255, 255;
	--link: 255, 0, 0;
	--color-dark: rgb(var(--dark));
	--color-light: rgb(var(--light));
	--color-link: rgba(var(--link));
	--font-family-base: Helvetica, Arial, sans-serif;
	--font-size-base: 14px;
	--font-size-h1: 48px;
	--font-size-h2: 40px;
	--font-size-h3: 32px;
	--font-size-h4: 24px;
	--font-size-h5: 20px;
	--font-size-h6: 16px;
	--line-height-base: 1.25;
	--transition-duration: 0.3s;
	--transition-timing-function: ease-in-out;
	--shell-width: 1170px;
	--grid-gap: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	-webkit-tap-highlight-color: rgba(var(--dark), 0.2);
}

body {
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	color: var(--color-dark);
	min-width: 320px;
	margin: 0;
	background-color: var(--color-light);
	text-decoration-skip-ink: auto;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
}

nav ul,
nav ol {
	padding: 0;
	margin: 0;
	list-style: none outside none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

img,
iframe,
video,
audio,
object {
	max-width: 100%;
}

img,
iframe {
	border: 0 none;
}

img {
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

a,
a img,
a svg,
input,
button,
select,
textarea {
	transition-property: color, opacity, border-color, background-color, box-shadow, fill, stroke;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

fieldset {
	padding: 0;
}

button,
input[type='submit'],
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='image'],
label[for] {
	cursor: pointer;
}

button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
	cursor: default;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea {
	appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	appearance: none;
}

textarea {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

button,
select {
	text-transform: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input::placeholder {
	color: inherit;
	opacity: 1;
}

textarea::placeholder {
	color: inherit;
	opacity: 1;
}

input:-webkit-autofill {
	-webkit-text-fill-color: inherit;
	box-shadow: 0 0 0 62.5rem var(--color-light) inset;
}

[id] {
	scroll-margin-top: 2ex;
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
	margin-bottom: 0;
}

a {
	color: var(--color-link);
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

a[href^='tel'] {
	color: inherit;
	cursor: default;
	text-decoration: none;
	appearance: none;
}

p,
ul,
ol,
dl,
table,
blockquote {
	margin-top: 0;
}

p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
	margin-bottom: 0;
}

.shell {
	max-width: var(--shell-width);
	padding-right: var(--grid-gap);
	padding-left: var(--grid-gap);
	margin-right: auto;
	margin-left: auto;
}

.shell--flex {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.shell--fluid {
	max-width: none;
}
