@media only screen and (min-width: 1280px) {
	.col-lg-1 {
		flex-basis: calc(100% / 12 * 1);
	}

	.col-lg-2 {
		flex-basis: calc(100% / 12 * 2);
	}

	.col-lg-3 {
		flex-basis: calc(100% / 12 * 3);
	}

	.col-lg-4 {
		flex-basis: calc(100% / 12 * 4);
	}

	.col-lg-5 {
		flex-basis: calc(100% / 12 * 5);
	}

	.col-lg-6 {
		flex-basis: calc(100% / 12 * 6);
	}

	.col-lg-7 {
		flex-basis: calc(100% / 12 * 7);
	}

	.col-lg-8 {
		flex-basis: calc(100% / 12 * 8);
	}

	.col-lg-9 {
		flex-basis: calc(100% / 12 * 9);
	}

	.col-lg-10 {
		flex-basis: calc(100% / 12 * 10);
	}

	.col-lg-11 {
		flex-basis: calc(100% / 12 * 11);
	}

	.col-lg-12 {
		flex-basis: calc(100% / 12 * 12);
	}
}
