@media only screen and (min-width: 768px) {
	.col-sm-1 {
		flex-basis: calc(100% / 12 * 1);
	}

	.col-sm-2 {
		flex-basis: calc(100% / 12 * 2);
	}

	.col-sm-3 {
		flex-basis: calc(100% / 12 * 3);
	}

	.col-sm-4 {
		flex-basis: calc(100% / 12 * 4);
	}

	.col-sm-5 {
		flex-basis: calc(100% / 12 * 5);
	}

	.col-sm-6 {
		flex-basis: calc(100% / 12 * 6);
	}

	.col-sm-7 {
		flex-basis: calc(100% / 12 * 7);
	}

	.col-sm-8 {
		flex-basis: calc(100% / 12 * 8);
	}

	.col-sm-9 {
		flex-basis: calc(100% / 12 * 9);
	}

	.col-sm-10 {
		flex-basis: calc(100% / 12 * 10);
	}

	.col-sm-11 {
		flex-basis: calc(100% / 12 * 11);
	}

	.col-sm-12 {
		flex-basis: calc(100% / 12 * 12);
	}
}
