.col-xs-1 {
	flex-basis: calc(100% / 12 * 1);
}

.col-xs-2 {
	flex-basis: calc(100% / 12 * 2);
}

.col-xs-3 {
	flex-basis: calc(100% / 12 * 3);
}

.col-xs-4 {
	flex-basis: calc(100% / 12 * 4);
}

.col-xs-5 {
	flex-basis: calc(100% / 12 * 5);
}

.col-xs-6 {
	flex-basis: calc(100% / 12 * 6);
}

.col-xs-7 {
	flex-basis: calc(100% / 12 * 7);
}

.col-xs-8 {
	flex-basis: calc(100% / 12 * 8);
}

.col-xs-9 {
	flex-basis: calc(100% / 12 * 9);
}

.col-xs-10 {
	flex-basis: calc(100% / 12 * 10);
}

.col-xs-11 {
	flex-basis: calc(100% / 12 * 11);
}

.col-xs-12 {
	flex-basis: calc(100% / 12 * 12);
}
